<!DOCTYPE html>
<html lang="en">
    <head>
    
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>artplace</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/editPassword.css">
        
    </head>
<body>
    <%- include ("./partials/header") %> 
    <main>
        <section class="sec">
            <div class="big-container">

                <div class="hi-container">
                    <h2 class="hitext" >¡Hola <%=user.fullName%>!</h2>
                    <p>¡Edita tu cuenta!</p>
                </div>
                
                <div class="imgNameEmailContainer">
                    
                    <img src="/images/users/<%=user.profileImage%>" class="minature-image">
                    <div class="nombreEmail">
                        <form action="/users/edit/password/<%=user.id%>?_method=PUT" method="POST">
                            <div class="inputs-container">
                                <label for="" class="profile-texts">Contraseña actual</label>
                                <input type="password" name="password" id="password" value="">
                                <p style="color:red"> <%= (locals.errors && errors.password? errors.password.msg : null) %> </p>
                                <label for="" class="profile-texts">Nueva contraseña</label>
                                <input type="password" name="newPassword" id="newPassword" value="">
                                <p style="color:red"> <%= (locals.errors && errors.newPassword? errors.newPassword.msg : null) %> </p>

                            </div>
                        <div  class="buttonContainer">
                            <button type="submit">Confirmar</button>
                    </form>
                        </div>
                    </div>
                </div>

    
                   
                </form>
            </div>
        </section>
    </main>
    <%- include ("./partials/footer") %> 
</body>
</html>