<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artplace</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productsList.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include ("./partials/header") %> 

<main>
    <h2 class="featured">PROMOCIONES</h2>
    <section class="products">
        <% products.forEach(product => { %>
         
        
        <article class="product">
            <a href="/products/<%= product.id %>" class="link-properties">
            <div class="image-container">
                <img src="/images/<%=product.img1%>" alt="">
            </div>
            <h3><%= product.productName %></h3>
            <div class="price-product">
                <span class="usd" >U$D</span>
                <span class="price-text" style="color:#FE1F62"><%=product.price%></span>
            </div> 
            
            </a>
        </article>
        <% }) %>
    </section>
</main>

<%- include ("./partials/footer") %> 
</body>
</html>